<! DOCTYPE html >
< html  lang = " en " >
< cabeza >
    < meta  charset = " UTF-8 " >
    < meta  name = " viewport " content = " width = device-width, initial-scale = 1.0 " >
    < título > APP | contacto </ título > 
    < link  rel = " stylesheet " href = " {{url_for ('static', filename = 'css / contact.css')}} " >
</ cabeza >
< cuerpo >
    < h1 > 313 458 4563
        313 403 1948 
        Calle el bromas av Viejas No. 00

    </ h1 > 
    < h2 > tu ip es {{userip}} </ h2 > 
    < h3 > tus doctores son {{contactos}} </ h3 > 
    < Un  href = " / home " > </ a >

</ cuerpo >
</ html >