<! DOCTYPE html >
< html  lang = " en " >
< cabeza >
    < meta  charset = " UTF-8 " >
    < meta  name = " viewport " content = " width = device-width, initial-scale = 1.0 " >
    < título > APP | doctores </ titulo > 
    < link  rel = " stylesheet " href = " {{url_for ('static', filename = 'css / Doctors.css')}} " >
</ cabeza >
< cuerpo >
    < h1 > Estos son los doctores:
        Mikael: ginecólogo
        Evanlleline: pediatra
        Liz: Uróloga 
        Marco: Médico Internista
        Santiago: Anestesiólogo
    </ h1 > 
    < h2 > tu ip es {{userip}} </ h2 > 
    < h3 > tus doctores hijo {{doctores}} </ h3 > 
    < Un  href = " / home " > </ a >

</ cuerpo >
</ html >