<! DOCTYPE html >
< html  lang = " en " >
< cabeza >
    < meta  charset = " UTF-8 " >
    < meta  name = " viewport " content = " width = device-width, initial-scale = 1.0 " >
    < título > Documento </ título >
</ cabeza >
< cuerpo >
    < Un  href = " / médicos " > Ir a los médicos </ una >
    < Un  href = " / servicios " > Ir a servicios </ una >
    < Un  href = " / abaout " > Ir a abaout </ una >
    < Un  href = " / contacto " > Ir un contacto </ una > 
    < Un  href = " # " > </ a >
</ cuerpo >
</ html >