<! DOCTYPE html >
< html  lang = " en " >
< cabeza >
    < meta  charset = " UTF-8 " >
    < meta  name = " viewport " content = " width = device-width, initial-scale = 1.0 " >
    < título > APP | personajes </ title > 
    < link  rel = " stylesheet " href = " {{url_for ('static', filename = 'css / personajes.css)}} ' " >
    < link  rel = " stylesheet " href = " {{url_for ('static', filename = 'css / personajes.css ' )}} " >
</ cabeza >
< cuerpo >
    < h1 > Estos son los personajes </ h1 >  
    < h2 > Tu ip es {{userip}} </ h2 > 
    < h3 > tus personajes son: {{personajes}} </ h3 > 
    < img  src = " {{url_for ('static', filename = 'BIMAGENES / Maxim_Vengerov.jpg')}} " alt = " personajes " >
    < img  src = " {{url_for ('static', filename = 'BIMAGENES / Nicola_Benedetti.jpg')}} " alt = " personajes " >
    < img  src = " {{url_for ('static', filename = 'BIMAGENES / Hilary_Hahn.jpg')}} " alt = " personajes " >
    < img  src = " {{url_for ('static', filename = 'BIMAGENES / Joshua_Bell.jpg')}} " alt = " personajes " >
    < Un  href = " casa " > vamos a la ruta a casa </ a > 
    < Un  href = " Lugares " > vamos a la ruta Lugares </ una >
    < Un  href = " / hogar " > vamos a la ruta a casa </ a > 
    < Un  href = " / Lugares " > vamos a la ruta Lugares </ una >
</ cuerpo >
</ html >