<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP | abaout</title> 
    <link rel="stylesheet" href="{{url_for ('static', filename= 'css/abaout.css')}}">
</head
<body>
    <h1
        Se Se encuentra ubicada en la calle 48 D, 
        detrás de las canchas del Colegio San Ignacio

    </h1> 
    <h2>tu ip es {{userip}}</h2> 
    <h3>tus doctores son {{Informacion}}</h3> 
    <a href="/home"></a>

</body>
</html>
         