@import  "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" ;

cuerpo {
    margen : 0 ;
    acolchado : 0 ;
    familia de fuentes : sans-serif;
    fondo : url (.. / img / img.jpg) sin repetición;
    color de fondo : # 333 ;
    tamaño de fondo : cubierta;
}
entrada : -webkit-autofill ,
entrada : -webkit-autofill : hover , 
entrada : -webkit-autofill : focus , 
input : -webkit-autofill : active   {
    color de fondo : transparente ! importante ;
    color : # fff ;
    tamaño de fuente : 18 px ;
}
. login-box {
    ancho : 280 px ;
    posición : absoluta;
    arriba : 50 % ;
    izquierda : 50 % ;
    transformar : traducir ( -50 % ,  -50 % );
    color : # fff ;
    fondo : rgba ( 0 ,  0 ,  0 ,  0.5 );
    relleno : 50 px ;
    radio del borde : 20 px ;
}

. login-box  h1 {
    flotar : izquierda;
    tamaño de fuente : 20 px ;
    borde inferior : 6 px sólido # fcaf50 ;
    margen inferior : 50 px ;
    relleno : 13 px  0 ;
}

. cuadro de texto {
    ancho : 100 % ;
    desbordamiento : oculto;
    tamaño de fuente : 20 px ;
    relleno : 8 px  0 ;
    margen : 8 px  0 ;
    borde inferior : 1 px sólido # fcaf50 ;
}

. cuadro de texto  i {
    ancho : 26 px ;
    flotar : izquierda;
    alineación de texto : centro;
}

. entrada de cuadro de texto  {
    borde : ninguno;
    esquema : ninguno;
    color de fondo : transparente;
    color : # fff ;
    tamaño de fuente : 18 px ;
    ancho : 80 % ;
    flotar : izquierda;
    margen : 0  10 px ;
}

. btn {
    ancho : 100 % ;
    color de fondo : transparente;
    borde : sólido de 2 px # fcaf50 ;
    color : # fff ;
    relleno : 5 px ;
    tamaño de fuente : 18 px ;
    cursor : puntero;
    margen : 12 px  0 ;
}

. btn : hover {
    color de fondo : # fcaf50 ;
    color : # 000 ;
    transición : .5 s ;
}

. btn : active {
    color de fondo : # 000 ;
    color : # fcaf50 ;
}