un {
    apariencia : botón;
    decoración de texto : caqui;  
    color : negro;
    ancho : 100 px ;
    altura : 30 px ;
    radio del borde : 30 px ;
    alineación de texto : centro;
    sombra de caja : coral;
    inicio del bloque de relleno de desplazamiento : 16 px ;

}
cuerpo {
    color de fondo : gris;
}