<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP | personajes</title> 
    <link rel="stylesheet" href="{{url_for ('static', filename= 'css/personajes.css)}}'">
    <link rel="stylesheet" href="{{url_for ('static', filename= 'css/personajes.css')}}">
</head>
<body>
    <h1>Estos son los personajes</h1>  
    <h2>Tu ip es {{userip}}</h2> 
    <h3>tus personajes son: {{personajes}} </h3> 
    <img src="{{url_for('static', filename= 'IMAGES/Maxim_Vengerov.jpg')}}" alt="personajes">
    <img src="{{url_for('static', filename= 'IMAGES/Nicola_Benedetti.jpg')}}" alt="personajes">
    <img src="{{url_for('static', filename= 'IMAGES/Joshua_Bell.jpg')}}" alt="personajes">
    <img src="{{url_for('static', filename= 'IMAGES/Hilary_Hahn.jpg')}}" alt="personajes">
    <img src="{{url_for('static', filename= 'IMAGES/Jascha_Heifetz.jpg')}}" alt="personajes">
    <a href="home">vamos a la ruta home</a> 
    <a href="lugares">vamos a la ruta lugares</a>
    <a href="/home">vamos a la ruta home</a> 
    <a href="/lugares">vamos a la ruta lugares</a>
</body>
</html>