<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP | contact</title> 
    <link rel="stylesheet" href="{{url_for ('static', filename= 'css/contact.css')}}">
</head>
<body>
    <h1>
        TELÉFONOS:
        311 606 8134
        320 737 4946

        DIRECCIÓN:
        Calle 48 D No. 67 B 30 
        Barrio Estadio
        Medellín-Antioquia

    </h1> 
    <h2>tu ip es {{userip}}</h2> 
    <h3>Los datos de contacto son {{contact}}</h3> 
    
    <a href="patients">Ir a patients</a>
    <a href="doctors">Ir a doctors</a>
    <a href="knowus">Ir a knowus</a>
    <a href="home">Ir a home</a> 
    <a href="curious">Ir a curious</a>

    <a href="/patients">Ir a patients</a>
    <a href="/doctors">Ir a doctors</a>
    <a href="/knowus">Ir a knowus</a>
    <a href="/home">Ir a home</a> 
    <a href="/curious">Ir a curious</a>

</body>
</html> 