<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP | curious</title> 
    <link rel="stylesheet" href="{{url_for ('static', filename= 'css/services.css')}}">
</head>
<body>
    <h1>Estos son algunos datos curiosos sobre mí: 
       Me encanta cocinar, en especial la repostería 
       Soy una aficionada de la música, amo tocar el violín y es mi mayor Hobby.
       Pertenezco a varias Orquestas Sinfónicas Juveniles de la ciudad.
       Me encanta compartir tiempo con mi familia.

    </h1> 
    <h2>tu ip es {{userip}}</h2> 
    <h3>tus datos curiosos son {{curious}</h3> 


    <a href="patients">Ir a patients</a>
    <a href="doctors">Ir a doctors</a>
    <a href="knowus">Ir a knowus</a>
    <a href="home">Ir a home</a> 
    <a href="contact">Ir a contact</a>

    <a href="/patients">Ir a patients</a>
    <a href="/doctors">Ir a doctors</a>
    <a href="/knowus">Ir a knowus</a>
    <a href="/home">Ir a home</a> 
    <a href="/contact">Ir a contact</a>

    

</body>
</html>