<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP | doctors</title> 
    <link rel="stylesheet" href="{{url_for ('static', filename= 'css/doctors.css')}}">
</head>
<body>
    <h6>Estos son los doctores: 
        Maicol: Ginecólogo
        Mariana: Ginecólogo
        Maritza: Ginecólogo
        Manuel: Ginecólogo
        Emannuel: Pediatra
        Ernesto: Pediatra
        Elena: Pediatra
        Eva: Pediatra
        Laura: Urólogo
        Lina: Urólogo 
        Luis: Urólogo 
        Leider: Urólogo  
        Marcelo: Médico Internista
        Mauricio: Médico Internista
        Marcela: Médico Internista
        Mario: Médico Internista
        Santiago: Anestesiólogo
        Sebastián: Anestesiólogo
        Saergio: Anestesiólogo
        Sodam: Anestesiólogo        

    </h6> 
    <h2>tu ip es {{userip}}</h2> 
    <h3>tus doctores son {{doctors}}</h3>
    
    <a href="patients">Ir a patients</a>
    <a href="curious">Ir a curious</a>
    <a href="knowus">Ir a knowus</a>
    <a href="home">Ir a home</a> 
    <a href="contact">Ir a contact</a>

    <a href="/patients">Ir a patients</a>
    <a href="/curious">Ir a curious</a>
    <a href="/knowus">Ir a knowus</a>
    <a href="/home">Ir a home</a> 
    <a href="/contact">Ir a contact</a>
    

</body>
</html>