<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>APP | patients</title> 
    <link rel="stylesheet" href="{{url_for ('static', filename= 'css/doctors.css')}}">
</head>
<body>
    <h6>Estos son los pacientes internados: 
        José Gaviria
        Antonio López
        Mario Turizo
        Maria Sierra
        Antonia Arango
        Antonella López
        Laura Gaviria
        Luisa Arango
        Luis Sierra
        Miguel Turizo
        Mónica Arango
        Adrián Gaviria
        Adriana López
        Marcelo Sierra
        Marcela Turizo
        Juana Arango
        Leider Gaviria
        Santiago Sierra
        Sebastián López
        Sara Turizo
        Samuel Arango
        Wadys Sierra
        Claudia Gaviria
        Justiniano Turizo
        Gilda López

    </h6> 
    <h2>tu ip es {{userip}}</h2> 
    <h3>tus pacientes son {{patients}}</h3> 
    
    <a href="knowus">Ir a knowus</a>
    <a href="curious">Ir a curious</a>
    <a href="doctors">Ir a doctors</a>
    <a href="home">Ir a home</a> 
    <a href="contact">Ir a contact</a>

    <a href="/knowus">Ir a kanowus</a>
    <a href="/curious">Ir a curious</a>
    <a href="/doctors">Ir a doctors</a>
    <a href="/home">Ir a home</a> 
    <a href="/contact">Ir a contact</a>

</body>
</html>