<! DOCTYPE html >
< html  lang = " en " >
< cabeza >
    < meta  charset = " UTF-8 " >
    < meta  name = " viewport " content = " width = device-width, initial-scale = 1.0 " >
    < título > APP | lugares </ title > 
    < link  rel = " stylesheet " href = " {{url_for ('static', filename = 'css / lugares.css')}} " >
</ cabeza >
< cuerpo >
    < h1 > tu ip es: {{userIP}} </ h1 > 
    < h2 > Mis lugares favoritos son: {{lugares}} </ h2 > 
    < img  src = " {{url_for ('static', filename = 'images / kyoto.jpg')}} " alt = " lugares " >
    < img  src = " {{url_for ('static', filename = 'images / peru.jpg')}} " alt = " lugares " >
    < img  src = " {{url_for ('static', filename = 'images / huascarán.jpg')}} " alt = " lugares " >
    < img  src = " {{url_for ('static', filename = 'images / okinawa.jpg')}} " alt = " lugares " >
    < img  src = " {{url_for ('estático', nombre de archivo = 'imágenes / Londres.jpg')}} " alt = " lugares " > 
    < Un  href = " casa " > vamos a la ruta a casa </ a > 
    < Un  href = " personajes " > vamos a la ruta personajes </ una >
</ cuerpo >
</ html >