<! DOCTYPE html >
< html  lang = " en " >
< cabeza >
    < meta  charset = " UTF-8 " >
    < meta  name = " viewport " content = " width = device-width, initial-scale = 1.0 " >
    < título > APP | personajes </ title > 
    < link  rel = " stylesheet " href = " {{url_for ('static', filename = 'css / personajes.css)}}' " >
</ cabeza >
< cuerpo >
    < h1 > Estos son los personajes </ h1 >  
    < h2 > Tu ip es {{userip}} </ h2 > 
    < h3 > tus personajes son: {{personajes}} </ h3 > 
    < img  src = " {{url_for ('static', filename = 'images / Revy.jpg')}} " alt = " personajes " >
    < img  src = " {{url_for ('static', filename = 'images / Shinobu.jpg')}} " alt = " personajes " >
    < img  src = " {{url_for ('static', filename = 'images / rock.jpg')}} " alt = " personajes " >
    < img  src = " {{url_for ('static', filename = 'images / stevejobs.jpg')}} " alt = " personajes " >
    < img  src = " {{url_for ('estática', nombre de archivo = 'imágenes / tanjiro.jpg')}} " alt = " personajes " >
    < Un  href = " casa " > vamos a la ruta a casa </ a > 
    < Un  href = " Lugares " > vamos a la ruta Lugares </ una >
</ cuerpo >
</ html > 